body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: 7vh;
    color: white;
    text-align: center;
}


nav{
    background-color: rgba(191, 133, 99, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5em;
    z-index: 2;
}

#menu{
    display: none;
}

#link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3vw;
}

#menu div {
    width: 7vw;
    height: 0.5vh;
    background-color: white;
    margin: 0.7vh 0;
}

#link a{
    margin-left: 2vw;
    z-index: 1;
    color: white;
    text-decoration: none;
}

#link a:hover{
    font-weight: bold;
}

#nome{
    margin-left: 3vw;
    z-index: 1;
    font-size: 1.5em;
    font-weight: bolder;
    border: 1px solid white;
    padding: 2px 4px;
    background-color: rgba(256, 256, 256, 0.3);
}

header{
    background-image: url("immagini/PiazzaSanMarco.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

header::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
header p{
    font-size: 0.8em;
    z-index: 1;
}

#intestazione{
    z-index: 1;
    font-size: 1.4em;
}

footer{
    color: white;
    background-color: rgba(191, 133, 99, 0.7);
    margin-bottom: 0px;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5em;
    text-transform: capitalize;
}

#utils{
    font-size: 1rem;
    margin-left: 5vw;
}

footer .logo{
    margin-right: 5vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer img{
    height: 5vh;
}

footer p{
    font-size: 2rem;
}

@media (max-width:1200px){
    nav{
        height: 10vh;
    }
    #link{
        display: none;
    }

    #menu{
        display: block;
        margin-right: 5vw;
    }
}

@media (max-width:800px){
    article{
        font-size: 2.5rem;
    }
    section .fotografo, section .proprietario{
        width: 85vw;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    section article .fotografo .foto, section .proprietario .foto{
        height: 50vh;
        width: 70vw;
    }

    section .infoSpot{
        width: 90%;
    }

    section .infoLinks{
        flex-direction: row;
        width: 60%;
    }
}


@media (max-width:600px){

    body section h1{
        font-size: 2rem;
    }

    section article{
        font-size: 1.5rem;
    }

    body section article .foto{
        width: 70vw;
        height: 70vh;
        margin: 0px;
    }

    footer{
        height: 10vh;
    }

    footer .logo img{
        height: 30%;
    }

    footer .logo p{
        font-size: 20px;
    }

    footer #utils{
        font-size: 15px;
    }
}

section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgba(38, 16, 8, 1);
    font-size: 30px;
    line-height: normal;
}

.proprietario, .fotografo{
    background: linear-gradient(whitesmoke, white);
    border-radius: 25px;
    box-shadow: 0 20px 40px -14px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
}

.fotografo{
    width: 90vw;
}

.nome{
    font-size: 1.3em;
    font-weight: bold;
}

.txt{
    font-size: 0.8em;
}
.infoSpot{
    margin: 2%;
    width: 30%;
    font-size: 1em;
}

button{
    background-color: rgba(191, 133, 99, 0.7);
    border-radius: 100px;
    font-size: 0.6em;
    padding: 1% 2%;
    margin-bottom: 5vh;
}

.foto{
    height: 30vh;
    width: 30vw;
    object-fit: cover;
    margin: 2%;
}

.image{
    height: 22.5%;
    width: 22.5%;
    object-fit: contain;
}

.separatore{
    margin-top: 5vh;
    display: block;
    height: 1px;
    background-color: black;
    width: 90%;
}

article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.infoLinks{
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
    margin-right: 2%;
}

.link1, .link2, .link3{
    width: 50px;
    height: 50px;
    transition-property: content;
    transition-delay: 2s;
}

.link1:hover{
    content:url('immagini/facebookh.png');
}
.link2:hover{
    content:url('immagini/instagramh.png');
}
.link3:hover{
    content:url('immagini/spotifyh.png');
}

section h1{
    font-size: 2em;
}

